   	<tr>
      <td><%= lesson_word.word.content %></td>
      <td><%= lesson_word.word_answer.content %></td>
      <td></td>
      <td><%= lesson_word.word_answer.correct %></td>
    </tr>
  		<!-- <td><%#= lesson.word_answer.content %></td> -->