<<<<<<< Updated upstream
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
=======
<%=  provide(:title,"Signup") %>

<div class= "row">
		<div class="col-md-6 col-center">
			<div class="text-center"><%= yield(:title) %></div>
			<%= render 'form' %>
		</div>  
</div>
>>>>>>> Stashed changes
