/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
    a{
  color: #555;
  :hover{
  color: #222;

  }
    }
    small{
  float: left;
    }
    ul{
        float: right;
  list-style: none;
  li{
      float: left;
  margin-left: 15px;
  }
    }
}

  form{
    .field_with_errors{
    input{
      border-color:red;
    }
  }
  }

.users {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

header{
  #logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  }
}
.col-center{
  margin:auto;
  float: none;
}