<li>
    <h2><%= link_to category.title, admin_category_path(category) %></h2>
    <p><%= category.description %></p>
    <% if lesson = current_user.lessons.find_by(category: category)  %>
    	<%= link_to "Result", lesson %>
    <% else %>
    	<%= button_to "Start", category.lessons.build(user: current_user), params: {category_id: category.id} %>

    <% end %>
</li>